/* color for the website  */
/* #F82B6F #2B89F8 #F8A82B #28F82B #8A2BF8 #2B2B2B */
/* main css */
*{
    font-family: Lato;
}
html{
    font-size: 10px;
}
/* global css class */
.button-color a{
    font-family: Lato;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: left;
    color: #5C6167;
}
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-heading{
     background-color: #353946;
     color: white; 
     flex-direction: column;
     line-height: 0rem;
     padding: 1.4rem 0 1.4rem 0;             
}
.heading-span{
    color: #5C6167;
    font-size: 2.4rem;
    font-family: lato;
}
.heading-text{
    font-family: Mona Sans;
    font-size: 4.8rem;
    font-weight: 500;
    color: #37405F;
    margin: 0rem;
    gap: 0.75rem;
}
.padding-top-bottom{
    gap: 3rem;
    padding: 8.6rem 0 8.6rem ;
}
.flex-column{
    display: flex;
    flex-direction: column;   
}
.price{
    line-height: 120%;
     margin-top: 2rem;
     display: flex;
}
.price-color{
    font-size: 2rem;
     color: #37405F;
}
.del{
    font-size: 1.6rem;
    color: #5C6167;
}
.discount{
    color: #F82B6F;
     font-size: 1.4rem;
}
.heading-color{
    color:#F82B6F ;
    font-family: Mona Sans;
}
.left-pad{
    padding-left: 1.6rem;
}
.icon-gap{
    display: flex;
     gap: 1rem;
}
.bottom-text{
    width: 20.3rem;
    height: 4.2rem;
    font-size: 1.3rem;
}
/* global media query */
@media (max-width:1024px){
     .heading-text {
        font-size:  2.4rem; 
    }
    .heading-span{
        font-size: 1.4rem;
    }
}
/* header css */
.header{
    /* display: flex; */
    gap: 13.6rem;
    max-width: 151.2rem;
    height: auto;
}
.first-icon{
    gap: 8.4rem;
}
.top-navigation{
    background-image: url('images/Vector.png');
    display: flex;
    align-items: center;
    max-width: 151.2rem;
    height: 10.4rem;
    justify-content: space-between;
}
.input-tag{
    /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="F82B6F" stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8" fill="white"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>'); */
    background-image: url('images/Vector\ \(2\).png');
    background-position: right 1rem center;
    background-repeat: no-repeat;
    border: 0.1rem solid #ccc;
    border-radius: 3.5rem;
    width: 49.9rem;
    height: 4.8rem;
    display: flex;
    font-size: 2rem;
    padding: 1rem 0.8rem 1rem 2rem;
    background-color: #2B89F8;
    /* background-size: 2rem 2rem;
    border-radius: 50%;
    padding: 10px 40px 10px 40px;  */
}
button{
    border: none;
    background-color: white;
    font-size: 1.7rem;
    font-family: lato;
    padding: 0rem;
}
.icon-group {
    display: flex;
    gap: 1.9rem;
}
.button {
    padding-top: 1.3rem;
}
.second-navigation{
    display: flex;
    gap: 7rem;
    border-top: 0.06rem solid #BBC5D0;
    border-bottom: 0.06rem solid #BBC5D0;
    width: 126rem;
    padding: 0.7rem;
}
a{
    text-decoration: none;
    display: inline;
    margin: 0 1.5rem; 
}
a.nav-link{
    align-items: center;
    color: black;
    font-size: 1.6rem;
}
nav.top-navigation{
    flex-direction: column;
}
.last-img {
    height: 2.3rem;
    width: 2.4rem;
}
.first-span{
    line-height: 1.8rem;
    margin: 1rem;  
    gap: 1rem;
    
}
p.hero-para{
    font-size: 2.4rem;
    color: #5C6167;
    line-height: 160%;
}
p2{
    font-size: 2rem;
    padding-bottom: 3.2rem;
    color: #2B89F8;
    height: 1.4rem;
}
p1{
    font-family: Mona Sans;
    font-weight: 600;
    font-size: 4.6rem;
    width: 83.9rem;
    height: 9.4rem;
    line-height: 130%;
    padding-bottom: 4rem;
    color: #37405F;
}

/* hero section  */
.first-btn{
    padding: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.drop-icon{
    padding-left: 17.1rem;
}
.hero-text {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    width: 84.1rem;
    height: 25.6rem;
    padding-left: 10.5rem;
    line-height: 4rem;
    padding-top: 7.4rem;
}
.hero{
    display: flex;
    margin-top: 1rem;
    background-image: url('images/Hero\ Section\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-btn img{
    height: 3.713rem;
    width: 4.4rem;
    
}
img.btn-img {
    margin-top: 0.5rem;

}
.hero-btn button {
    font-family: lato;
    font-size: 2.4rem;
    width: 23.4rem;
    height: 5.4rem;
    background-color: #F2A44B;
    color: white;
    background: linear-gradient(to right, #F82D6F,#FFD04E);
    opacity: 100%;
    padding: 1rem;
}
.hero-btn button .btn-img{
    width: 1.6rem;
    height: 1.6rem;
}
.hero-btn .btn1 button img{
    display: flex;
}
.call-text{
    padding-left: 0.9rem;
}
select.nav-select {
    height: 4.6rem;
    width: 25rem;
    border: none;
    background-color: #2B89F8;
    color: white;
    background-image: url('images/Icon\ Frame.png');
    background-repeat: no-repeat;
    padding: 1rem;
    background-position: 1rem center;
    padding-left: 3rem;
    font-size: 1.8rem;
}
.hero-img img {
    width: 137%;
    margin-left: -16.4rem;
}

/* hero section responsive css */

@media only screen and (max-width: 1024px) {
    .hero {
        display: flex;
        flex-direction: column;
        /* text-align: center; */
        justify-content: center;
    }
    
}
/* footer css code  */
.bottom-section {
    background-color: #454565;
    color: white;
    max-width: 151.2rem;
    height: 15.7rem;
    padding: 0rem 18rem 0rem 18rem;
}
.bottom-content {
    display: flex;
    align-items: center;
    padding-top: 5.3rem;
}
.content {
    display: flex;
    gap: 1.2rem;
    width: 27.9rem;
    height: 5rem;
}

/* bottom responsive css  */

@media only screen and (max-width: 1024px) {
    .bottom-section {
        /* Reduce padding */
        padding: 1rem; 
    }
    .bottom-content {
        /* Stack items vertically */
        flex-direction: row; 
        /* Center items */
        align-items: center; 
        flex-wrap: wrap;
    }
    .content{
        padding: 1rem;
    }
}
/* design css */
.design-section{
    flex-direction: column;
}
.design-text{
    padding-top: 8.6rem;
}
.design-section .first-p{
    font-size: 4.8rem;
    margin: 0;
    padding: 0;
    color: #37405F;
}
.design-section .second-p{
    font-family: lato;
    font-size: 2.4rem;
    color: #5C6167;
}
.design-section .design-img {
 padding:  8.6rem;
 display: flex;
 gap: 3.3rem;
}
.design-section .design-img  .design-img1{
    background-image: url('images/handsome-young-retro-man-dressed-shirt-lies-floor\ 1.png');
    background-repeat: no-repeat;
    width: 77.9rem;
    height: 44rem;
    font-size: 2rem;
    color: white;
    display: flex;
    align-items: flex-end;
}    
.design-section .design-img  .design-img2{
    background-image: url('images/Rectangle\ 23.png');
    background-repeat: no-repeat;
    width: 49rem;
    height: 44rem;
    font-size: 2rem;
    color: white;
    display: flex;
    align-items: flex-end;
}
@media  (max-width: 1024px) {
    /* .design-text {
        text-align: center;
        padding: 0 1rem;
        flex-wrap: wrap;
    } */
    .design-img{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        /* text-align: center;
        justify-content: center; */
    }
    /* .design-img1{
        width: 100%;
        height: auto;
    } */
}
/* design section2 css */
.design-section .design-img span{
    background-color: #1b1e39d3;
    padding: 2rem 1.6rem 2rem 1.6rem;
    font-family: lato;
    line-height: 120%;
    opacity: 100%;
}
.design-section2 .design-text2{
    flex-direction: column;
}
.design-sec2-p{
    padding-left: 1.6rem;
}
.headline-text{
    font-family: Mona Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.16rem;
    text-align: left;
    color: #37405F;
}
.para-text{
    font-family: Lato;
    color: #5C6167;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.92rem;
    text-align: left;

}
.design-section3 .design-img3{
    display: flex;
     flex-direction: row;
}
 .design-img3-part2{
    gap: 3rem;
    padding: 0rem 0rem 8.6rem 0rem;
}
@media (max-width:1024px) {
    .design-section3.design-img3{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 2rem;
        margin: 0 auto;
    }
    .para-text {
        font-size: 1.4rem; 
        line-height: 1.8rem;
    }
}
@media (max-width: 576px) {
    .design-section3 .design-img3 {
        grid-template-columns: 1fr; /* Single column */
        padding: 2rem 1rem;
    }
}
/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    .design-section3.design-img3 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
    }
}

/* deals section css  */
.deals-text1{
    width: 63.6rem;
    height: 35rem;
    background-image: url('images/Deals\ Banner.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}
.deals-text2{
    width: 63.6rem;
    height: 35rem;
    background-image: url('images/Deals\ Banner\ \(1\).png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.design-img3{
    gap: 3rem;
    padding: 8.6rem 10.5rem 8.6rem 10.5rem;
}
.deals-heading{
    font-family: Mona Sans;
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 4.32rem;
    text-align: left;
    padding-left: 4.2rem;
}
.deals-button{
    font-family: Lato;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: left;
    padding: 1.3rem 2.2rem 1.3rem 2.2rem;
    color: white; 
    background-color: #353946; 
    width: 15.5;
    height: 5rem;
    margin-top: 3rem;
}

/* banner design css */
.last-design{
    background-image: url('images/image_2024_11_20T12_13_55_568Z.png');
    background-color: #FECAD5;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.8rem;

}
.banner{
    padding: 8.6rem;
}
.last-design-btn{
    background-color: #F82D6F;
    padding: 1rem 1.6rem 1rem 1.6rem;
    border-radius: 0.4rem;
    color: white;
    background-size: cover;
}
h3{
    font-family: Mona Sans;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.8rem;
    text-align: center;
    color: #37405F;
    width: 647px;
}
.last-text{
    color: #4F6175;
    font-family: Lato;
    font-size: 2rem;
}
.last-design-input input{
    padding: 1rem 1.6rem 1rem 1.6rem;
    border-radius: 0.4rem;
    font-size: 1.8rem;
    border: none;
}
.last-design-text{
    padding-right: 4.5rem;
    
}

/* footer css */
.footer-content{
    background-color: #F3F3F3;
    max-width: 151.2rem;
    height: 41.2rem;
    padding: 6.4rem 10.5rem 0rem 10.5rem;
}
.footer p{
    font-family: Lato;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.52rem;
    text-align: left;
}
.bottom-text1{
    width: 101.5rem;
    height: 2.2rem;
    font-family: Lato;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.16rem;
    text-align: left;
    color: #5C6167;
    
}
.bottom-header{
    font-family: Mona Sans;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 3.094rem;
    text-align: left;
    color: #37405F;
    }
.bottom-list{
    font-family: Lato;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: left;
    color: #5C6167;
}
.payment-img{
    width: 23.2;
    height: 3rem;
}
.footer-bottom{
    display: flex;
    align-items: center;
    width: 130.2rem;
    height:8.4rem;
    gap: 5.5rem;
    border-top: 0.1rem solid #D4D2D2;
}
.footer-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 6.4rem;
}
.arrow-img{
    width: 2rem;
    height: 2rem;
    
}
.design-image-content{
    display: flex;
    align-items: flex-end;
}
